
          <% @cart_items.each do |item| %>
					<li class="row">
						<span class="quantity">1</span>
						<span class="itemName"><%= item.item.title %></span>
						<span class="popbtn"><a class="arrow"></a></span>
						<span class="price"><%= item.item.price %></span>
					</li>
          <% end %>
          Total : <%= @total %>
          <hr>
          <%= link_to "Passer commande", new_user_order_path %>
